@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: hsl(0, 0%, 97%);
}

body input,
body textarea {
  color: black;
}

a {
  color: #2d7bd4;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}

/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  border-radius: 3px;
  display: block;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f3422;
  cursor: pointer;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
  cursor: pointer;
}